OPEN_DATA_PATH="./open-data"
OUTPUT_PATH="../local-data/regions"
DUCKDB_PATH="../local-data/geodb.duckdb"
STORAGE_MODE="local,duckdb"
MAPBOX_ACCESS_TOKEN=""
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DATABASE="open_data"
MONGODB_COLLECTION="properties"
KADASTRS_FIELD="kadastrs"
BATCH_SIZE="500"
DROP_COLLECTION="false"
LOG_LEVEL="INFO"
